<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
   <class name="com.executionfinal.FinalExecution"/>
      <class name="com.executionfinal.DependenciesManagement"/>
      <class name="com.executionfinal.Sample"/>
      <class name ="com.practice.GroupClass"/>
      <class name ="com.practice.ParameterEx"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
